.product-card{
    margin: 10px;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: var(--white);
    color: var(--black);
}

.product-card img{
    width: 100%;
    height: 300px;
}

.product-card p{
    padding: 20px 10px;
    margin-top: 5px;
    border: none;
    padding: 4px 4px;
    background-color: var(--white);
    color: var(--black);
}

.product-card-img-heart {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray);
    padding: 10px;
    border-radius: 8px;
}

.red-heart {
    align-self: flex-end;
    font-size: 2rem;
    top: 15px;
    right: 45px;
    color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 50%;
    background-color: var(--gray);
    padding: 5px;
}
