.product-card {
    position: relative;
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 350px;
    padding: 15px;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 10px;
    text-decoration: none;
}

a {
    font-size: 2rem;
    text-decoration: none;
    color: var(--primary);
    font-weight: 700;
}

.card-container p {
    margin-bottom: 10px;
    color: var(--darkgray);
    font-size: 0.8rem;
    text-transform: capitalize;
}

.card-container h3 {
    color: var(--black);
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
}

.card-container img {
    border-radius: 16px;
    width: 100%;
    height: 60%;
    border: 1px solid var(--gray);
    padding: 16px;
    align-self: center;
    margin-bottom: 10px;
    object-fit: contain;
}

.heart-blue {
    color: blue;
}

.heart-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
