.header-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    padding: 0 20px;
    background-color: var(--secondary);
}

.cart-wrapper {
    position: relative;
}

.shopping-car-icon {
    font-size: 3em;
    display: inline-block;
    margin-right: 10px;
}

.cart-number {
    border-radius: 50%;
    background-color: red;
    color: var(--white);
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 1.1rem;
    padding: 2px 5px;
}