.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 100px;
}

.cart-wrapper {
    position: relative;
}

.shopping-car-icon {
    font-size: 1.5em;
    display: inline-block;
    margin-right: 10px;
}

.cart-number {
    border-radius: 50%;
    background-color: red;
    color: var(--white);
    position: absolute;
    top: 1px;
    right: 20px;
    font-size: 1rem;
    padding: 2px 5px;
}