.header-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #3A4895;
    color: #3A4895;
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
    position: relative;
}

.shopping-car-icon {
    font-size: 2em;
}

/*
.shopping-car-icon :placeholder-shown {
    position: relative;
    background-color: red;
    color: white;
}*/

