.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 100px;
  background-color: var(--primary);
}

.cart-wrapper {
  position: relative;
}

.shopping-car-icon {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 10px;
  color: var(--white);
}

.cart-number {
  border-radius: 50%;
  background-color: red;
  color: var(--white);
  position: absolute;
  top: 1px;
  right: 20px;
  font-size: 1rem;
  padding: 2px 5px;
}

.logo {
  color: var(--white);
  text-shadow: 10px;
}

.hamitLicinaLogo {
  font-size: 1rem;
  border-radius: 50%;
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  color: rgb(222, 222, 222, 0,3);
}

.likes-icon {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 20px;
  color: var(--white);
}