.cart-item {
  width: 90%;
  margin: 50px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.cart-item img {
  width: 100px;
  height: 100px;
}

.cart-item h3 {
  width: 20%;
}

.trash-icon {
  font-size: 1.3em;
  cursor: pointer;
}
