.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  padding-top: 5px;
  background-color: var(--secondary);
}

.continue {
  padding-bottom: 2%;
}

.container-info {
  font-size: 1.2rem;
  margin-bottom: 10px;
  background-color: var(--white);
  padding: 1rem;
  margin: 0 20px;
  width: 80%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-info img {
  width: 40%;
  height: 80%;
  padding-left: 10%;
}

.container-info {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-info > button {
  width: 30%;
  /* Center the button horizontally */
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: yellow;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.details-info h4,
.details-info p {
  padding: 10px;
}

@media (min-width: 480px) {
  .details-container {
    background-color: var(--secondary);
  }
}
